/* Global Styles */

* {
  box-sizing: border-box;
  
}

.btn {
	display: block;
	font-size: 24px;
	margin: 24px auto;
	padding: 12px;
}

.header {
	width: 100%;
	background-color:#303030;
	color: #ffffff;
	font-size: 48px;
	height: 170px;
	line-height: 170px;
	text-align: center;
	font-family: 'Cutive Mono', helvetica;
}

.container {
	border: 1px solid;
	margin: 24px auto;
	width: 1024px;
	font-family: helvetica;
	font-size: 18px;

}

.content {
	width: 80%;
}

.answer {
	display: block;
	width: 100%;
	cursor: pointer;
	padding: 10px 10px;
	background-color: white;
	text-align: left;
	font-size: 18px;
	border: none;
}

.answer:hover {
	color: red;
}

.timer-box {
	clear: both;
	font-size: 24px;
	height: 50px;
	line-height: 50px;
	border: 1px solid;
	text-align: left;
	display: block;
}

.score-box {
	overflow: auto;
	width: 600px;
}

.question {
	margin-bottom: 10px;
	font-weight: 800;
}

.score {
	float: left;
	font-size: 32px;
	width: 33.333%;
	text-align: center;
}